.st-key-styled_container {
    background-color: #fefefe;
    border-radius: 1rem;
    padding:1rem 1rem;
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.3);
    min-height: 586.78px;
}

iframe[title="streamlit_folium.st_folium"] { height: 450px;}